:root {
   /* Modify these to change your theme colors: */
   --primary: #000;
   --text: #00ff00;
   --background: #000;
   --background-elevated: #222;

   /* These should be less important: */
   --background-hover: rgba(255, 255, 255, 0.1);
   --background-light: #AAA;
   --background-bright: #FFF;

   --border-dim: #666;
   --border-bright: var(--primary);

   --text-bright: #FFF;
   --text-special: var(--primary);

   --scrollbar-background: #000;
   --scrollbar-border: var(--primary);
}

body.light_theme, #footer_msgs, div.c-message.c-message--light.c-message--hover, div.channel_header, .c-scrollbar__hider:before, #search_terms {
    background: #000;
}

span.c-message__body, .c-message--light .c-message__sender .c-message__sender_link {
    color: #00FF00;
}

a, a:link, a:visited {
    color: #006600;
}

pre.special_formatting {
    background: #222;
    color: #06b406;
}

.c-message_list__day_divider__label__pill {
    background: #666;
}

#col_messages, div.channel_header {
    box-shadow: inset 1px 0 0 0 #222;
}

.c-scrollbar__hider:before {
    border-bottom: 1px solid #222;
}